<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="user-account">
            <a href="/login" class="user-login">Log In</a>
            <a href="/signup" class="user-register">Sign Up</a>
        </div>
    </div>
    <div class="shapecontainer">
        <div class="radicalshape"> &nbsp; </div>
    </div>
    <div class="main-contents">
        <img src="./assets/logo.png" alt="Logo" class="logo-content">
        <div class="main-wrapper">
            <h2>Find Your Perfect Parking Spot</h2>
            <p>Reserve parking spaces in advance with our easy-to-use platform.</p>
            <p>Save time, avoid hassle, and park with confidence.</p> 
        </div>
        <a href="/login" class="main-wrapper-button">Get Started</a>
    </div>

    <div class="bottom-contents">
        <div class="bottom-container">
            <svg width="128px" height="128px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16,6l3,4h2c1.11,0,2,0.89,2,2v3h-2c0,1.66-1.34,3-3,3s-3-1.34-3-3H9c0,1.66-1.34,3-3,3s-3-1.34-3-3H1v-3c0-1.11,0.89-2,2-2 l3-4H16 M10.5,7.5H6.75L4.86,10h5.64V7.5 M12,7.5V10h5.14l-1.89-2.5H12 M6,13.5c-0.83,0-1.5,0.67-1.5,1.5s0.67,1.5,1.5,1.5 s1.5-0.67,1.5-1.5S6.83,13.5,6,13.5 M18,13.5c-0.83,0-1.5,0.67-1.5,1.5s0.67,1.5,1.5,1.5s1.5-0.67,1.5-1.5S18.83,13.5,18,13.5z"></path> <rect fill="none" width="24" height="24"></rect> </g></svg>
            <div class="bottom-container-content">
                <h3>Multiple Vehicle Types</h3>
                <p>Support for cars, motorcycles, trucks, e-bikes, and more.<br>Find the perfect spot for your vehicle.</p>
            </div>    
        </div>
        <div class="bottom-container">
            <svg width="128px" height="128px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3636 3L5 6.27273V11.1818C5 15.7227 8.14182 19.9691 12.3636 21C16.5855 19.9691 19.7273 15.7227 19.7273 11.1818V6.27273L12.3636 3ZM15.06 9L16 9.94667L10.6667 15.28L8 12.62L8.94667 11.68L10.6667 13.3933L15.06 9Z" fill="#000000"></path> </g></svg>
            <div class="bottom-container-content">
                <h3>Secure & Safe</h3>
                <p>QR code authentication ensures your parking spot is reserved and protected.</p>
            </div>    
        </div>
        <div class="bottom-container">
            <svg width="128px" height="128px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            <div class="bottom-container-content">
                <h3>Real-time Updates</h3>
                <p>Get notified when your parking time is ending and easily extend your reservation.</p>    
            </div>    
        </div>
    </div>  

</body>
</html>